---
import MainLayout from "@/layouts/MainLayout.astro"
---
<MainLayout title="About Page" showSidebar={false}>
  <article>
  <h1 class="text-5xl text-center mb-5">Judul</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam, nobis laboriosam! Numquam, sequi deserunt ipsam eveniet dolorum adipisci ut harum molestiae eius. Quia, officia sint atque nostrum doloribus minima libero?</p>
  </article>
</MainLayout>
